<label class="floating-label text-left">
  <span>{{ label() }}</span>
  <div class="relative">
    <input
      class="input w-full"
      [type]="register.ShowHide ? 'text' : 'password'"
      [class.input-error]="control.invalid && control.touched"
      [class.input-success]="control.valid && control.touched"
      [formControl]="control"
      [placeholder]="label()"
    />
    @if (label() === 'Password') {
      <button
        type="button"
        id="togglePassword"
        aria-label="Show password"
        aria-pressed="false"
        class="cursor-pointer absolute right-2 top-1/2 -translate-y-1/2"
        (click)="register.ToggleShowHide()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 {{ register.ShowHide ? 'fill-green-500' : '' }}"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          />
        </svg>
      </button>
    }
  </div>
  @if (control.hasError('required') && control.touched) {
    <div class="validation-hint text-error text-sm mt-1">{{ label() }} is required</div>
  }
  @if (control.hasError('minlength') && control.touched) {
    <div class="validation-hint text-error text-sm mt-1">
      {{ label() }} must be at least {{ control.errors?.['minlength'].requiredLength }} characters
      long
    </div>
  }
  @if (control.hasError('passwordMissmatch') && control.touched) {
    <div class="validation-hint text-error text-sm mt-1">Passwords do not match</div>
  }
</label>
